{% extends "user_baseTemplate.html" %} 

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formFields.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/admin_editAnswers.css') }}" />
{% endblock %} 

{% block body %}
    <h2>Edit Answer</h2>
    <form>
        <label for="name">Project:</label>
        <input type="text" id="name" name="name" value="Project name here" disabled/><br />
        <h3>Question 1</h3>
		<h3>Candidate Profile</h3>
		<div>
			<label for="candidateField">Enter Candidate Name: </label>
        	<input type="text" id="candidateField" value="Candidate Name"/> <br />
			<label for="candidateImage">Select candidate image:</label>
			<input type="file" id="candidateImage" name="candidateImage" accept="image/jpeg" /> <br />
			<label for="candidateDescription">Select candidate image:</label>
			<textarea type="textarea" id="candidateDescription" name="candidateDescription">Enter Candidate Description Here</textarea>
		</div>

        <input type="submit" name="saveQuestion" value="Save" /> </br>
		<input type="submit" name="deleteQuestion" value="Delete Question"/>
    </form>
{% endblock %}
