{% extends "user_baseTemplate.html" %} 

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formFields.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/admin_editQuestions.css') }}" />
{% endblock %} 

{% block body %}
    <h2>Edit Question</h2>
    <form>
        <label for="name">Project:</label>
        <input type="text" id="name" name="name" value="Project name here" disabled/><br />
        <h3>Question 1</h3>
		<label for="questionField">Status:</label>
        <input type="text" id="questionField" value="Which candidate do you vote for"/> <br />
		<div>
			Answers:
			<input class="newQuestionImage" type="image" src="{{ url_for('static',filename='images/plus.png') }}">
		</div>
		<div>
			<ol>
				<li><button name="option 1" type="submit" value="candidateID">John</button></li>
				<li><button name="option 2" type="submit" value="candidateID">Jack</button></li>
				<li><button name="option 3" type="submit" value="candidateID">Johnson</button></li>
				<li><button name="option 4" type="submit" value="candidateID">Abraham Lincon</button></li>
			</ol>
		</div> 
        <input type="submit" name="saveQuestion" value="Save" /> </br>
		<input type="submit" name="deleteQuestion" value="Delete Question" />
    </form>
{% endblock %}
