{% extends "user_baseTemplate.html" %} 

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/admin_publish.css') }}" />
{% endblock %} 

{% block body %}

<div class="content">
	<h2>Publish</h2>
	<p>Once published, cannot be changed</p>
	
	<form method="POST" action="/publish">
		<label for="proj_name"><b>Project Name: </b></label>
		<input type="text" class="proj_name" placeholder="Enter Project Name" readonly > <br>
		
		<label for="start_date"><b>Start Date: </b></label>
		<input type="date" class="start_date" readonly> <br>

		<label for="start_time"><b>Start Time: </b></label>
		<input type="time" class="start_time" readonly> <br>

		<label for="end_date"><b>End Date: </b></label>
		<input type="date" class="end_date" readonly> <br>

		<label for="end_time"><b>End Time: </b></label>
		<input type="time" class="end_time" readonly> <br>

		<div class="formfield">
			<label for="textarea"><b>Custom Election Message:</b></label>
			<textarea class="custom_msg" placeholder="Enter Custom Election Message" readonly></textarea> 
		</div><br>

		<div class="formfield">
			<label for="textarea"><b>Custom Invitation Message:</b></label>
			<textarea class="custom_invitation_msg" placeholder="Enter Invitation Message" readonly></textarea>
		</div>
		
		<p>Needs all sub-admins to approve before it is published</p>
		
		<button type="submit">Publish</button> <br> <br>
	</form>
</div>


{% endblock %}