<!-- Extends the basic html template -->
{% extends "guest_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/generateKeys.css') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
	<script type="text/javascript" src="{{url_for('static', filename='js/generateKeys.js') }}"></script>
{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}
<div class="content">
    <h2>Generate Keys</h2>
	<a href="" ><button type="submit">Generate New Keys</button></a>
	<button type="button" onclick="downloadKeys()">Save Keys</button> <br> <br>

	<label for="public_key"><b>Public Key: </b></label>
	<div class="keyContainer">
		<div class="inline" id="publickey">{{publicKey}}</div>
	</div>
	
	<label for="private_key"><b>Secret Key: </b></label>
	<div class="keyContainer">
		<div class="inline" id="secretkey">{{secretKey}}</div>
	</div>
</div>
{% endblock %} 