<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/guest_baseTemplate.css') }}"/>

		<!-- Header Block -->
		{%block head %}
		{% endblock %}
	</head>

	<body>
		<div class="top-left">
			<a href="/"><img src={{url_for('static', filename='images/icon.png')}} /></a>
		</div>
	
		<div class="top-right">
			<a href="/">Home</a>
			<a href="#">About Us</a>
			<a href="#">Contact Us</a>
			<a href="#">Generate Keys</a>
			<a href="#">Decrypt Results</a>
			<button type="button" class="login" onclick="location.href='/login'" >Sign up / Login</button>
		</div>

		<!-- Body Block -->
		<div>
			{% block body %}
			{%endblock %}
		</div>
	</body>
</html>
