{% extends "user_baseTemplate.html" %} 

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formFields.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/organizer_viewQuestions.css') }}" />
{% endblock %} 

{% block body %}
	<h2>Manage Questions</h2>
	<div id="header">
		<form action="edit_questions/new_question" method="GET">
			<label for="projectNameField">Project Name:</label>
			<input type="text" id="projectNameField" value="{{ projectName }}" readonly/>
			{% if userType == "owner" and projectStatus == "DRAFT" %}
				<button type="submit" value="addNewQuestion"><img id="buttonImg" src={{ url_for('static',filename='images/plus.png') }}/></button>
			{% endif %}
			<!-- <input class="newQuestionImage" type="image" src="{{ url_for('static',filename='images/plus.png') }}"> -->
		</form>
	</div>

	{% set count = 1 %}
	{% for record in questionSet %}
	<a class="questionBox" href="edit_questions/{{ record.question.questionID }}">
		<div class="questions">
			<span>
				<b>{{ record.question.questionNo}}.</b>
				{{record.question.question}}
			</span>
			<ol>
				{% for candidate in record.option %}
					<li>{{candidate.candidateOption}}</li>
				{% endfor %}
			</ol>
		</div>
	</a>
	{% endfor %}
{% endblock %}
