{% extends "user_baseTemplate.html" %}
<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/organizer_electionMessage.css') }}"/>
	<script type=text/javascript src="{{ url_for('static',filename='js/organizer_viewElectionMsg.js') }}"></script>
{% endblock %} 
<!--Change CSS-->

<!-- Updates the <body> of the webpage -->
	{% block body %}
	<div class="content"> 
		<h2><b>Election Message</b></h2>
		<form method="POST" action="/{{projectID}}/view_electionMessage" >
		<div class = "flexbox-container">
			<span>Pre-Election Message:</span>
			<div class = "flexbox-item flexbox-item-1">
				<textarea id = "preMsg" name ="preMsg" placeholder="{{preMsg}}" spellcheck="True" wrap= hard ></textarea><br>
			</div>
			<span> Post-Election Message:</span>
			<div class = "flexbox-item flexbox-item-2">
				<textarea id = "postMsg" name ="postMsg" placeholder="{{postMsg}}"spellcheck="True" wrap= hard ></textarea><br>
			</div>
			<button type="submit">Save</button>
		</div>
		<div class ="space"></div>

	</form>
		<script>
			// onload = fillTA("postMsg",{{postMsg | safe}});
			// onload = fillTA("preMsg",{{preMsg | safe }});
		</script>
	
	{% endblock %} 