{% extends "user_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/organizer_mainBallot.css') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/organizer_mainBallot.js') }}"></script>

{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}
<div class="content">

    <input id="search_bar" style="font-family: FontAwesome;" placeholder='&#xf002 Search...' />

    <h2>
		
		<form action="" method="post" style="display: inline;">		
			<div class ="flex-container">
				<img id="myImg" src="{{ url_for('static',filename='images/user-manual.jpg') }}">
				<span>All Projects</span>
				<button type="submit" class="icon" style="border: 0px;"><span class="material-icons-outlined">add_circle_outlin</span></button>
				<div class="flex-btm">
					<span class ="manual" onclick = "showimg()">View manual</span>
				</div>
			</div>
			<div id="myModal" class="modal">
				<!-- The Close Button -->
				<span class="close" onclick = "spanclose()">&times;</span>
				<!-- Modal Content (The Image) -->
				<div class= "flex-mid">
					<img class="modal-content" id="imgManual">
				</div>
				<!-- Modal Caption (Image Text) -->
				<div id="caption"></div>
			</div>

		</form>
	</h2>

   <!-- Data Array --> 
    <!--
	organizerID = item[0]
	userID = item[1]
	projID = item[2]
	organizerStatus = item[3]
	approval = item[4]
	projDetailsID = item[5]
	projTitle = item[6]
	projStatus = item[7]     
    --> 
    {% for item in data %}

	<a href="/{{item[2]}}/overview">
		<div class = "all_ballots">
			<span class = "serial_no"></span>
			<span class  = "project_name">{{item[6]}}</span>
			<span class = "role">{{item[3]}}</span>
			<span class = "status">{{item[7]}}</span>
		</div>
	</a>
    {% endfor %}

</div>
{% endblock %} 