{% extends "user_baseTemplate.html" %} 

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/formFields.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/organizer_editAnswers.css') }}" />
	<script type=text/javascript src="/static/js/organizer_editAnswers.js"></script>
{% endblock %} 

{% block body %}
	<h2>Edit Answer</h2>
	<form action="" method="post" enctype="multipart/form-data">
		<!-- Display Project Name -->
		<label for="projectName">Project: </label>
		<input type="text" id="projectName" value="{{projectName}}" readonly/><br />
		
		<!-- Display Question -->
		<label for="candidateName">Candidate's Name: </label>
		<input type="text" id="candidateName" name="candidateName" value="{% if candidate is not none %}{{candidate.candidateOption}}{% endif %}" {% if userType == "verifier" or projectStatus != "DRAFT"%} readonly {% endif %}/>
		<br/>

		<!-- Display Upload Image button -->
		<label>Candidate's Image (JPEG only*): </label>
		{% if userType == "owner" and projectStatus == "DRAFT" %}
			<input id="candidateImage" type="file" name="candidateImageFile" accept="image/jpeg" onChange="handleImageUpload()"/>
		{% endif %}
		<br/>

		<!-- Space to Display Candidate's Image probably -->
		<img id="display-image" src="{% if candidate is not none %}{% if candidate.imageFilename is not none %}{{url_for('static', filename='images/uploads')}}/{{candidate.candidateID}}/{{candidate.imageFilename}} {% endif %} {% endif %}"/><br />

		<!-- Display Candidate's Description Entered -->
		<label for="candidateDescription">Candidate's Description: </label>
		<textarea id="candidateDescription" name="candidateDescription" {% if userType == "verifier" or projectStatus != "DRAFT"%} readonly {% endif %}>{% if candidate is not none %}{{candidate.description}}{% endif %}</textarea> 
		<br />

		<!-- Save & Delete Candidates Button -->
		{% if userType == "owner" and projectStatus == "DRAFT"%}
			<input type="submit" name="action" value="Save" /> </br>
			<input type="submit" name="action" value="Delete" />
		{% endif %}
	</form>
{% endblock %}
