{% extends "user_baseTemplate.html" %} 

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/organizer_publish.css') }}" />
	<script type=text/javascript src="{{ url_for('static',filename='js/organizer_publish.js') }}"></script>
{% endblock %} 

{% block body %}

<h2>Publish</h2>
<p>Once the project is published, the details cannot be changed</p>

<form method="POST" action="">
	<label for="proj_name"><b>Project Name: </b></label>
	<input type="text" class="proj_name" value="{{ projectDetails.title }}" placeholder="Enter Project Name" readonly > <br>
	
	<label for="start_date"><b>Start Date: </b></label>
	<input type="datetime-local" class="start_date" value="{{ projectDetails.startDateTime }}" readonly> <br>

	<label for="end_date"><b>End Date: </b></label>
	<input type="datetime-local" class="end_date" value="{{ projectDetails.endDateTime }}" readonly> <br>

	<div class="formfield">
		<label for="textarea"><b>Custom Election Message:</b></label>
		<textarea class="custom_msg" readonly>{{preElectionMessage}}</textarea> 
	</div><br>

	<div class="formfield">
		<label for="textarea"><b>Custom Invitation Message:</b></label>
		<textarea class="custom_invitation_msg" readonly>{{ invitationMessage }}</textarea>
	</div>
	
	{% if errorMessages is defined and errorMessages|length > 0 %}
	<p>
		<b>Warning</b> <br />
		<ul>
			{% for error in errorMessages %}
				<li>{{ error }}</li> 
			{% endfor %}
		</ul>
		
	</p>
	{% endif %}
	{% if projectDetails.status == 'DRAFT' or projectDetails.status == 'PENDING APPROVAL' %}
		<p>Project will be published automatically when all verifiers have approved the project details</p>
	{% endif %}
	{% if userType == "owner" %}
		{% if projectDetails.status == 'DRAFT' %}
			<button type="submit" name="action" value="requestVerification" {% if errorMessages|length > 0 %} disabled {% endif %}>Request Verification</button>
		{% endif %}
	{% elif userType == "verifier" %}
		{% if projectDetails.status == 'PENDING APPROVAL' %}
		<div class = "flexbox-container" >
			<div class = "flexbox-item">
				<button type="submit" name="action" value="verify" {% if errorMessages|length > 0 %} disabled {% endif %}>Approve project</button>
				<button type="button" onclick="reject()" >Reject project</button>
			</div>
			<textarea id="feedback" rows="6" cols="50" name ="feedback" hidden></textarea>
			<button type="submit"  id="rejectBtn"  name="action" value="reject" hidden>Submit feedback</button>
		</div>
		{% endif %}
	{% endif %}
	<br/> <br/> 
	</form>



{% endblock %}