{% extends "user_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/organizer_mainBallot.css') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/organizer_mainBallot.js') }}"></script>

{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}
<div class="content">

    <input id="search_bar" style="font-family: FontAwesome;" placeholder='&#xf002 Search...' />

    <h2>
		All Projects
		<form action="" method="post" style="display: inline;">
			<button type="submit" style="border: 0px;"><span class="material-icons-outlined">add_circle_outlin</span></button>
		</form>
	</h2>

   <!-- Data Array --> 
    <!--
	adminID = item[0]
	userID = item[1]
	projID = item[2]
	adminStatus = item[3]
	approval = item[4]
	projDetailsID = item[5]
	projTitle = item[6]
	projStatus = item[7]     
    --> 
    {% for item in data %}

	<a href="/{{item[2]}}/overview">
		<div class = "all_ballots">
			<span class = "serial_no"></span>
			<span class  = "project_name">{{item[6]}}</span>
			<span class = "role">{{item[3]}}</span>
			<span class = "status">{{item[7]}}</span>
		</div>
	</a>
    {% endfor %}

</div>
{% endblock %} 