<!-- Extends the basic html template -->
{% extends "guest_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/resetPassword.css') }}"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}

	<div class="content">
        <h2>Forget Password</h2>
                <form method="POST" action="/resetpassword">
                        <label for="Email"><b>Email: </b></label>
                        <input type="text" placeholder="Email" name = "email" required> <br>
                        <span class="instructions">If an email exists, an email would be sent</span> <br>
                        
                        <br>
                        
                        <button type="submit" onclick="location.href='#'">Forget Password</button> <br>
                </form>
	</div>
{% endblock %}