{% extends "user_baseTemplate.html" %}

<!-- Updates the <head> of the webpage  -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_settings.css') }}"/>
{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}
<div class="content">

	<h2>Settings</h2>
	<form method="POST" action="/settings">
		<label for="fname"><b>First Name: </b></label>
		<input type="text" placeholder="First name" name="fname" autocomplete="off"> <br>

		<label for="lname"><b>Last Name: </b></label>
		<input type="text" placeholder="Last name" name="lname"autocomplete="off"> <br>

		<label for="email"><b>Email: </b></label>
		<input type="text" placeholder="Email" name="email"autocomplete="off"> <br>

		<label for="Company"><b>Company: </b></label>
		<input type="text" placeholder="Company Name" name = "companyName"autocomplete="off"> <br>
		<button type="submit">Update Particulars</button>
	</form>
</div>
{% endblock %} 