<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_baseTemplate.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_navigationBar.css') }}"/>

		<!-- Header Block -->
		{% block head %}
		{% endblock %}
	</head>

	<body>
		<div class="top-left">
			<a href="/"><img src={{url_for('static', filename='images/icon.png')}} /></a>
		</div>

		{% include "user_navigationBar.html" %}

		<!-- Body Block -->
		<div>
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>
