{% extends "voters_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/voters_ViewVotingPage.css') }}"/>
<script type="text/javascript" src="static/js/voters_ViewVotingPage.js"></script>
{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}
<table>
	<tr>
		{%for image in imagePath %}
		<td class="candidateInfo">
			<img src={{image}} >
		</td>
		{% endfor %}
	</tr>
	<tr>
		{%for name in namePath %}
		<td class="candidateInfo">
			{{ name }}
		</td>
		{% endfor %}
	</tr>
	<tr>
		{%for description in descriptions %}
		<td class="candidateInfo">
			{{ description }}
		</td>
		{% endfor %}
	</tr>
</table>
<table>
	<tr>
		<td class="questionInfo">
			{{question}}
		</td>
	</tr>
	<form action="/" method="POST"></form>
	<tr>
		<td class="answerInfo">
			{%for name in namePath %}
			<input type="radio" id={{name}} name={{name}} value={{name}}>
			<label for={{name}}><b>{{name}}</b></label><br>
			{% endfor %}
			<br>
				
		</td>
	</tr>
	<tr>
		<td class="center">
			<input type="button" id="popup" value="Submit"></button>
		</td>
	</tr>
	</form>
</table>
<!-- modal pop up-->
<div class = "bg-modal">
	<div class="modal-content">
		<div class="modal-header">
			<h2>Are You Sure Of Your Choice?</h2>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="modal-button" id="cancel" >Cancel</button>
			<button class="modal-button-submit" >Submit</button>
		</div>
	</div>
</div>
{% endblock %}