{% extends "voters_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/voters_ViewEncryptedVotePage.css') }}"/>
{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}
	<h2><u>All Encrypted Votes</u></h2>
	{%for questions in voteResults %}
	<table class="content-table">
		<tr>
			<th>
				{{questions.question.questionNo}} {{questions.question.question}}
			</th>
		</tr>
		<tr>
			<th class="content-head">
				Voter ID/Candidates
			</th>
			{%for name in questions.option %}
			<th class="content-head">
				{{ name.candidateOption }}
			</th>
			{% endfor %}
		</tr>
		{%for voter in questions.info %}
		<tr class="content-body">
			<td>
				{{voter.voterNumber}}
			</td>
			{%for ans in voter.encryptedAnswer %}
			<td>
				{{ans}}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<br>
	{% endfor %}
{% endblock %} 