{% extends "voters_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/voters_ViewVoterCoverPage.css') }}"/>
{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}	
	<h2>{{title}}</h2>
	<h3>Pre-Election Message: </h3>
	<textarea readonly class="message-boxsize" >
{% if message %}
{{message}}
{% else %}
Your vote is kept confidential.
Click Start Voting button to begin. 
{% endif %}
	</textarea> <br>
	<div class="center">
		<a href="/{{projID}}/ViewVotingPage"> <button class= "button" type="button">Start Voting</button></a>
	</div>
{% endblock %}
