{% extends "voters_baseTemplate.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/voters_ViewSubmittedVotePage.css') }}"/>
{% endblock %} 

<!-- Updates the <body> of the webpage -->
{% block body %}
	<h2>{{title}}</h2>
	<h3>Your vote has been successfully submitted</h3>
	<textarea readonly class="message-boxsize" >
{% if message %}
{{message}}
{% else %}
Thank you for your participation.
{% endif %}
	</textarea> <br>
	<div class="center">
		<a href="/"><button class= "button" type="button">Finish Voting</button></a>
	</div>
{% endblock %}