body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#FAEBD7;
	padding: 0px 5% 96px 5%;
}

/* div {
	border: 1px black solid;
} */

/* nav bar text */
.top-right a {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

/* nav bar text */
.top-right a:hover {
	background-color: #555;
	color: white;
}

/* container for login button */
.top-right{
	float:right;
}

/* login/signup button */
.login {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
}

/* login/signup button */
.login:hover {
	background-color: #555;
	color: white;
}

/* icon */
.top-left img{
	padding-top: 30px;
	width: 20%;
}
