/* banner */
.banner {
	text-align: center;
}

.banner img{
	margin-top: 20px;
	max-height: 500px;
	width: 100%;
	border:solid 1px;
}

/* content */
.content{
	margin: 50px 0px 0px 0px;
}
.content_top_center {
	margin-left:20%;
	border: solid 1px;
	width:60%;
}

.content_top_center_title {
	margin-left:12%;
}

.content_top_center_paragraph {
	margin-left:10%;
}

.content_top_right {
	margin-top:-14%;
	margin-left:60%
}

.content_top_left {
	margin-top:6%;
}

.content_bottom_right {
	margin-top:3%;
	margin-left:60%
}

.content_bottom_left {
	margin-top:3%;
}




