/* adding inline block to bold elements so that textbox are align */
b {
    display: inline-block;
    width: 100px;
}
  
/* input box and password */
input[type=text], input[type=password] {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #FFFFFF
}
  
/* login button */
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
    color: white;
}

/* forget password link */
.forget_pw {
  margin-left:1%;
}

.content {
    margin-top:5%;
}
