
/* adding inline block to bold elements so that textbox are align */
b {
    display: inline-block;
    width: 210px;
}

/* input box and password */
input {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #FFFFFF
}
  
/* login button */
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
    color: white;
}

.custom_msg {
    overflow-wrap: break-word;
    width: 50%;
    border: none;
    resize: none;
    height:250px;
    overflow: hidden;
}

/* Adjust placeholder of textarea to be center */
.custom_msg::-webkit-input-placeholder {
    line-height:250px;
}

.custom_invitation_msg {
    overflow-wrap: break-word;
    width: 50%;
    border: none;
    resize: none;
    height:250px;
    overflow: hidden;
}

/* Adjust placeholder of textarea to be center */
.custom_invitation_msg::-webkit-input-placeholder {
    line-height:250px;
}

/* Adjust label to be in the middle of textarea */
.formfield * {
    vertical-align: middle;
}

p{
    color:red;
}

li {
	color: red;
}

/*============================= flex start ============================= */
.flexbox-container{
    display: flex;
    min-width: 400px;
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    flex-direction: column;
    /* padding-left: 5px; */
    border: 3px solid #333;
        
    }

.flexbox-item{
margin: 10px;
padding: 5px;
min-height: 50px;
/* background-color: #fecfb1; */
flex-direction: row;
min-width: 500px;
border: 3px solid #333;
}

/*============================= flex end =============================*/