/* design for search bar */
input {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    margin-top: 5%;
    display: inline-block;
    border: none;
    background: #FFFFFF
}

/* plus icon */
.material-icons-outlined{
    margin-left: 10%;
    cursor: pointer;
}
  
.material-icons-outlined:hover {
      color: white;
}

/* ballots */
.all_ballots {
  height:100px;
  line-height:100px;
  margin-top:2%;
  background-color:#EEEEEE;
  border:solid 1px;
}

/* ballots element*/
.serial_no{
  margin-left:2%;
}

/*set up a counter in body */
body{
  counter-reset: counter;
}

/* for each occurance of counter increment by 1 */
.serial_no::before{
  counter-increment: counter;
  content: counter(counter) ". ";
}

.project_name{
  cursor: pointer;
  margin-left:3%;
}

.project_name:hover{
  color:white;
}

.role{
  left:55%;
  position: absolute;
}

.status{
  color:red;
  left:60%;
  position: relative;
  text-align: center;
  align-self: right;
}

a {
  text-decoration:none;
}

.icon {
  background-color: transparent;
}

@media only screen and (max-width: 1600px) 
{
  input {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    margin-top: 5%;
    display: inline-block;
    border: none;
    background: #FFFFFF
}

  /* ballots */
  .all_ballots {
    width:100%;
    height:100px;
    line-height:100px;
    margin-top:2%;
    background-color:#EEEEEE;
    border:solid 1px;
  }

  /* ballots element*/
  .serial_no{
    margin-left:2%;
  }

  /*set up a counter in body */
  body{
    counter-reset: counter;
  }

  /* for each occurance of counter increment by 1 */
  .serial_no::before{
    counter-increment: counter;
    content: counter(counter) ". ";
  }

  .project_name{
    cursor: pointer;
    margin-left:3%;
  }

  .project_name:hover{
    color:white;
  }

  .role{
    left:70%;
    position: absolute;
  }

  .status{
    color:red;
    left:80%;
    position: absolute;
    text-align: center;
  }

}




