.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  max-width: 150px;
  max-height: 60px;
}

textarea {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: black;
  /* background-color:rgb(245, 222, 192); */
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px; 
  resize: none;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  text-align:left;
  height : 100px;
  min-height: 250px;
  max-height: 400px;
}

.flexbox-container{
display: flex;
min-width: 400px;
min-height: 400px;
flex-wrap: wrap;
justify-content: left;
align-content: left;
flex-direction: column;
padding-left: 5px;
/* border: 3px solid #333; */
 
}

.flexbox-item{
width: 70%;
margin: 10px;
padding: 5px;
/* background-color: #fecfb1; */
min-width: 350px;
min-height: 250px;
/* border: 3px solid #333; */
}
.flexbox-item-1{
min-height: 250px;

}
.flexbox-item-2{
min-height: 250px;
}

span{
font-size: 20px;
font-weight: bold;
}
.space{
padding: 80px;
}

.msgview{
  min-width: 550px;
  min-height:200px;
  text-align: center;
  /* font-size: 30px;  */
}