/* design for search bar */
input {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    margin-top: 5%;
    display: inline-block;
    border: none;
    background: #FFFFFF
}

/* plus icon */
.material-icons-outlined{
    margin-left: 10%;
    cursor: pointer;
}
  
.material-icons-outlined:hover {
      color: white;
}

/* ballots */
.all_ballots {
  height:100px;
  line-height:100px;
  margin-top:2%;
  background-color:#EEEEEE;
  border:solid 1px;
}

/* ballots element*/
.serial_no{
  margin-left:2%;
}

/*set up a counter in body */
body{
  counter-reset: counter;
}

/* for each occurance of counter increment by 1 */
.serial_no::before{
  counter-increment: counter;
  content: counter(counter) ". ";
}

.project_name{
  cursor: pointer;
  margin-left:3%;
}

.project_name:hover{
  color:white;
}

.role{
  left:55%;
  position: absolute;
}

.status{
  color:red;
  left:75%;
  position: absolute;
  text-align: center;
  align-self: right;
}

a {
  text-decoration:none;
}

.icon {
  background-color: transparent;
}

@media only screen and (max-width: 1600px) 
{
  input {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    margin-top: 5%;
    display: inline-block;
    border: none;
    background: #FFFFFF
}

  /* ballots */
  .all_ballots {
    width:100%;
    height:100px;
    line-height:100px;
    margin-top:2%;
    background-color:#EEEEEE;
    border:solid 1px;
  }

  /* ballots element*/
  .serial_no{
    margin-left:2%;
  }

  /*set up a counter in body */
  body{
    counter-reset: counter;
  }

  /* for each occurance of counter increment by 1 */
  .serial_no::before{
    counter-increment: counter;
    content: counter(counter) ". ";
  }

  .project_name{
    cursor: pointer;
    margin-left:3%;
  }

  .project_name:hover{
    color:white;
  }

  .role{
    left:65%;
    position: absolute;
  }

  .status{
    color:red;
    left:75%;
    position: absolute;
    text-align: center;
  }

  .modal-content {
    width: 50%;
    }

}
/*====================================== Flex ======================== */
.flex-mid{
  display: flex;
  min-width: 400px;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* padding-left: 5px; */
  border: 3px solid #333;
      
  }
  .flex-btm{
    display: flex;
    /* max-width: 00px; */
    max-height: 100px;
    /* flex-wrap: wrap; */
    justify-content: right;
    align-content: center;
    align-self: flex-end;
    flex: 1;
    flex-direction: row;
    /* padding-left: 5px; */
    /* border: 3px solid #333; */
        
    }
  .flex-container{
    display: flex;
    min-width: 600px;
    max-height: 200px;
    /* flex-wrap: wrap; */
    /* justify-content: left;
    align-content: center; */
    flex-direction: row;
    /* border: 3px solid #333;  */
    }
/*====================================== Flex End ======================== */
/*====================================== Manual ======================== */
#myImg {
  display: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 100px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.manual{
  float: right;
  font-size: small;
  /* bottom:0; */
  text-align: bottom;
}

.manual:hover{
  color: white;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  }

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(0.8)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  }
/*====================================== Manual END ======================== */