button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
button:hover{
    background-color: rgb(236, 233, 233)
}

textarea {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px; 
    resize: none;
    width: 60%;
    text-align:center;
    height : 100px;
}

input[type=text] {
    width :70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #FFFFFF
  }
span{
      font-size: medium;
      font-weight: bolder;
  }
/*  */
  ol {
    /* background-color:rgb(245, 222, 192); */
    padding: 20px;
  }
  ol li {
    /* background: #ffe5e5; */
    padding: 5px;
    margin-left: 35px;
  }
  li:hover{
    background-color:rgb(245, 222, 192);
  }
/*  */
/*============================= flex start ============================= */
.flexbox-container{
    display: flex;
    min-width: 400px;
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    flex-direction: column;
    /* padding-left: 5px; */
    /* border: 3px solid #333; */
        
    }
.flexbox-container-sub{
    display: flex;
    min-width: 400px;
    min-height: 100px;
    max-height: 200px;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    flex-direction: row;
    /* border: 3px solid #333; */
        
    }

.flexbox-item{
margin: 10px;
padding: 5px;
min-height: 50px;
/* background-color: #fecfb1; */
min-width: 500px;
border: 3px solid #333;
}
.flexbox-item-upload{
    min-height: 100px;
    width: 70%;
}

.flexbox-item-btn{
min-height: 100px;
}

.flexbox-item-list{
    display: flex;
    min-height: 100px;
    justify-content: left;
    align-content: left;
    flex-direction: row;

}

.flexbox-item-image{
    display:flex;
    min-height: 100px;
    min-width : 100px;
    width: 20%;
    flex-direction: column;
}
/*============================= flex end =============================*/
/*============================= image css start =============================*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 100px;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    max-height: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(0.8)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px){
    .modal-content {
    width: 100%;
    }
}

/*============================= image css end =============================*/
