/* adding inline block to bold elements so that textbox are align */
b {
    display: inline-block;
    width: 100px;
}
  
/* input box */
  input {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #FFFFFF
  }
  
/* forget password button */
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
  
button:hover {
    background-color: #555;
    color: white;
}

/* instructions for user */
.instructions {
    margin-left:7%;
}

.content {
  margin-top:5%;
}