body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#FAEBD7;
	padding: 0px 5% 96px 5%;
}

/* div {
	border: 1px black solid;
} */

/* icon */


.top-left img{
	padding-top: 30px;
	width: 20%;
}

/* content */
.content{
  	margin-left: 200px; /*500px*/
  	padding: 0px 20px 0px 20px;
}