button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
  }

textarea {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px; 
    resize: none;
    width: 70%;
    text-align:left;
    height : 100px;
}

table,tr,td{
  width: 100%;
  white-space: nowrap;
  /* border: 1px solid black;
  border-collapse: collapse; */
}