/* adding inline block to bold elements so that textbox are align */
b {
    display: inline-block;
    width: 200px;
}
  
/* input box and password */
input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #FFFFFF;
    max-height: 20px; 
    max-width:  300px;
}

/* Textarea */
.result {
    overflow-wrap: break-word;
    width: 100%;
    height: 200px;
    border: none;
    resize: none;
    overflow: hidden;
    /* rowspan : 4; */
}


/* Adjust placeholder of textarea to be center */
.feedback::-webkit-input-placeholder {
    line-height:250px;
}

/* login button */
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: white;
}

.content {
    margin-top:5%;
}

table, tr, td {
    border: 1px solid black;
    max-width: 1000px;
    max-height: 500px;
    
  }
.flex-container {
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
/* border: solid black; */
}

